@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300;400;500&display=swap');

/***** RESET *****/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    
    /*font-size: 100%;
    vertical-align: baseline;*/
    
}
html, body {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', serif;
    scroll-behavior: smooth;
    
    
}

body {
    background-image: linear-gradient(#000,#023047);
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbarx {width: 100%; height: 5.7rem; background-color: #023047; border-bottom: 0.4rem solid #FFB703; padding: 0;}
div {border: 0px solid #000; color: #fff; font: normal 1.8rem sans-serif;}
.K {width: 3%; padding: 0.6rem 0rem 0.6rem 0rem; float: left; text-align: right; color: #fff; font: bold 3rem tahoma; border: 1px solid #000;}
.odluyoruum {width: 11%; padding: 2rem 0.2rem 0rem 0.35rem; padding-right: 0px; float: left; text-align: left; font-size: 1.3rem; border: 1px solid #000; color: #FFB703; letter-spacing: 0.35rem;}
.login { width: auto; height: 3rem; padding: 1rem 2rem 0rem 2rem; margin-top: 0.55rem; float: right; color: #FFB703; border-left: 1px solid #fff;}
.nav-link {float: right; padding: 1.6rem 1rem 0rem 1rem;}
.navbarx a {text-decoration: none; color: #fff;  font: normal 1.8rem sans-serif;}
.navbarx a:hover {color: #FFB703;}
.loginikincidurum {width: 21.4rem; height: 25rem; margin-top: 5.7rem; right: 0px; position: fixed; float: right;  padding: 0rem;}
.loginikincidurum div {width: 12.3rem; height: 2rem; margin: 1.5rem auto 0 0.7rem; padding: 0rem; float: left;}
.loginikincidurum div a {text-decoration: none; color: #fff; font: normal 1.8rem sans-serif; z-index: 5;}
.loginikincidurum div a:hover {color: #FFB703;}

body {background-image: linear-gradient(#000,#023047); overflow-x: hidden;}
.govde {height: auto;}
.anasayfa-ustkısım {width: 100%; height: auto;}
.K2  {width: auto; margin: 4.35rem auto auto 8rem; font-size: 4.5rem;}
.K2text {width: auto; margin: 3rem auto auto 6rem; font-size: 1.7rem;}
.lorem {font-size: 13rem; width: 5rem; position:relative; float: left; margin-top: -2.4rem; color: #FFB703; }
.loremtext {width: 40%; height: auto; margin-left: 5.7rem; line-height: 2.9rem;}
.kyakatıl {float: right; width: auto; height: auto; position: relative; margin: -12.5rem 10rem auto auto; padding: 2rem 0.5rem 2rem 0.5rem; border: 1px solid #FFB703;}
.kyakatıltext {margin: -3.3rem auto auto 2.8rem; position: absolute; float: right; width: 33rem; background: #000; text-align: center; letter-spacing: 0.5rem;}
.yb {margin: auto 0.6rem auto 0.6rem;}
.ya {margin: auto 0.9rem auto 0.9rem;}

.anasayfa-altkısım {margin-top: 25rem;}
.altkısım-ilkkısım {height: auto; width: 45%; margin: 4rem auto auto 8rem; float: left;}
.bizkimizulan {height: auto; font-size: 4rem; border-bottom: 3px solid linear-gradient(#000,#023047); letter-spacing: 0.5rem; color: #FFB703;}
.cubuhk {width: auto; height: 0.12rem; margin: 1.3rem auto auto auto; background-image: linear-gradient(to right, yellow,red); border: 0px solid #000;}
.bizkimiztext {height: auto; width: auto; margin: 2.3rem auto 4.5rem auto;}
.bizkimiztext-2 {height: auto; width: auto;}
.altkısım-ikincikısım {height: auto; float: right; margin: 5rem 3rem auto auto;}


.kyakatıl img  {
    width: 64px;
}