.page-title {
    font-size: 40x;
    color: #FFB703;
    margin: 20px 0 10px 30px;
}

.divider {
    width: 50%;
    text-align: left;
    display: inline-block;
    margin: 10px 0 5px 15px;
    border-top: 2px solid #FFB703;
    border-radius: 1px;
}


.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.uyeler-container {
    height: 100%;
    width: 100%;
    padding: 30px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    gap: 20px; 
    justify-items: center;
}

.uyebox {
    height: 100px;
    width: 300px;
    border: 1px solid yellow;
    display: grid;
    grid-template-columns: 35% auto;
    grid-template-rows: auto;
    padding: 10px;
}

.pp-placeholder {
    width: 100px;
    height: 100px;
    background-color: coral;
}

.details-placeholder {
    width: auto;
    background-color: green;
    display: flex;
    flex-direction: column;
    justify-content: left;
    flex-wrap: nowrap;
}

.member-name {
    white-space: nowrap;
    overflow: hidden;
    font-size: 1.5rem;
    background-color: red;
}

.member-role {
    margin: 20px 0 10px 0;
    font-size: 1.3rem;
    white-space: nowrap;
    overflow: hidden;
    background-color: blueviolet;
}

.member-connect {
    height: max-content;
    background-color: blue;
    display: flex;
    justify-content: space-between;
}

.member-connect .member-social {
    width: 20px;
    height: 20px;
    background-color: coral;
    display: flex;
}

.member-connect .member-cv {
    width: 20px;
    height: 20px;
    background-color: chartreuse;
    display: flex;
}

.member-social .git {
    width: 8px;
    height: 8px;
    background-color: red;
}

.member-social .linkedin {
    width: 8px;
    height: 8px;
    background-color: green;
}

.member-cv .dl-link{
    width: 8px;
    height: 8px;
    background-color: red;
}

.member-cv .modal{
    width: 8px;
    height: 8px;
    background-color: green;
}