@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300;400;500&display=swap');


.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.uyeler-container {
    display: grid;
    grid-template-columns: repeat(4, 450px);
    grid-template-rows: repeat(3, 200px);
    justify-items: center;
    margin: 50px 0;
    row-gap: 30px;

}

.uyebox {
    width: 396px;
    height: 156px;
    padding: 16px;
    border: 1px solid #FFB703;
    display: grid;
    grid-template-columns: 35% auto;
    align-items: center;
    border-radius: 4px;
}

.pp-placeholder {
    width: 120px;
    height: 160px;
    border-radius: 4px;
}

.pp-placeholder img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}

.member-details{
    width: auto;
    height: 160px;
    

}

.details-placeholder {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 10px;
}

.member-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
    font-size: 2rem;
    font-family: 'Roboto', serif;
    max-width: 250px;


}

.member-role {
    flex-grow: 1;
    margin: 20px 0 10px 0;
    color: #FFB703;
    font-size: 1.3rem;
    font-family: 'Roboto', serif;
    white-space: nowrap;
    overflow: hidden;
}

.member-connect {
    flex-grow: 2;
    height: max-content;
    display: flex;
    justify-content: space-between;
}

.member-connect .member-social {
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.member-connect .member-cv {
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}

.member-connect img {
    scale: 1.2;
}

/* .member-social .git {


}

.member-social .linkedin {

} */

/* .member-cv .dl-link{
    width: 8px;
    height: 8px;

}

.member-cv .modal{
    width: 8px;
    height: 8px;

} */